body {
    padding-top: 56px;
}

.container {
    max-width: 960px;
    margin: auto;
}

.navbar {
    margin-bottom: 20px;
}

.form-control {
    margin-bottom: 10px;
}

.btn-primary {
    margin-top: 10px;
}